<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Style</servlet-name>
        <servlet-class>controleur.Style</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutStock</servlet-name>
        <servlet-class>controleur.insert.AjoutStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutMetier</servlet-name>
        <servlet-class>controleur.insert.AjoutMetier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Matiere</servlet-name>
        <servlet-class>controleur.Matiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controleur.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Default</servlet-name>
        <servlet-class>controleur.defaut.Default</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMeuble</servlet-name>
        <servlet-class>controleur.meuble.CMeuble</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMatiere</servlet-name>
        <servlet-class>controleur.matiere.CMatiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutMatiere</servlet-name>
        <servlet-class>controleur.matiere.AjoutMatiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CMeubleMatiere</servlet-name>
        <servlet-class>controleur.meuble.CMeubleMatiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouterMeuble</servlet-name>
        <servlet-class>controleur.meuble.AjouterMeuble</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutMeuble</servlet-name>
        <servlet-class>controleur.meuble.AjoutMeuble</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recherche</servlet-name>
        <servlet-class>controleur.meuble.Recherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResutlRecherche</servlet-name>
        <servlet-class>controleur.meuble.ResutlRecherche</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Liste</servlet-name>
        <servlet-class>controleur.meuble.Liste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMatiere</servlet-name>
        <servlet-class>controleur.matiere.AddMatiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FabriqueMeuble</servlet-name>
        <servlet-class>controleur.meuble.FabriqueMeuble</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateMeuble</servlet-name>
        <servlet-class>controleur.meuble.CreateMeuble</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fabrication</servlet-name>
        <servlet-class>Fabrication.meuble.Fabrication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fabrique</servlet-name>
        <servlet-class>controleur.meuble.Fabrique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertFabrique</servlet-name>
        <servlet-class>controleur.meuble.InsertFabrique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Benefice</servlet-name>
        <servlet-class>controleur.meuble.Benefice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockMatiere</servlet-name>
        <servlet-class>controleur.matiere.StockMatiere</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjouteEmployer</servlet-name>
        <servlet-class>controleur.insert.AjouteEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listeEmployer</servlet-name>
        <servlet-class>controleur.insert.listeEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployer</servlet-name>
        <servlet-class>controleur.insert.AddEmployer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistique</servlet-name>
        <servlet-class>controller.vente.Statistique</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertClient</servlet-name>
        <servlet-class>controller.vente.InsertClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertVente</servlet-name>
        <servlet-class>controller.vente.InsertVente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vente</servlet-name>
        <servlet-class>controller.vente.Vente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StockMeuble</servlet-name>
        <servlet-class>controleur.meuble.StockMeuble</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Style</servlet-name>
        <url-pattern>/Style</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Matiere</servlet-name>
        <url-pattern>/Matiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Default</servlet-name>
        <url-pattern>/Default</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMeuble</servlet-name>
        <url-pattern>/CMeuble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMatiere</servlet-name>
        <url-pattern>/CMatiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutMatiere</servlet-name>
        <url-pattern>/AjoutMatiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CMeubleMatiere</servlet-name>
        <url-pattern>/CMeubleMatiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouterMeuble</servlet-name>
        <url-pattern>/AjouterMeuble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutMeuble</servlet-name>
        <url-pattern>/AjoutMeuble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recherche</servlet-name>
        <url-pattern>/Recherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResutlRecherche</servlet-name>
        <url-pattern>/ResutlRecherche</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Liste</servlet-name>
        <url-pattern>/Liste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMatiere</servlet-name>
        <url-pattern>/AddMatiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FabriqueMeuble</servlet-name>
        <url-pattern>/FabriqueMeuble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateMeuble</servlet-name>
        <url-pattern>/CreateMeuble</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutStock</servlet-name>
        <url-pattern>/AjoutStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fabrication</servlet-name>
        <url-pattern>/Fabrication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Fabrique</servlet-name>
        <url-pattern>/Fabrique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertFabrique</servlet-name>
        <url-pattern>/InsertFabrique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Benefice</servlet-name>
        <url-pattern>/Benefice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutMetier</servlet-name>
        <url-pattern>/AjoutMetier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockMatiere</servlet-name>
        <url-pattern>/StockMatiere</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjouteEmployer</servlet-name>
        <url-pattern>/AjouteEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listeEmployer</servlet-name>
        <url-pattern>/listeEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployer</servlet-name>
        <url-pattern>/AddEmployer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistique</servlet-name>
        <url-pattern>/Statistique</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertClient</servlet-name>
        <url-pattern>/InsertClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertVente</servlet-name>
        <url-pattern>/InsertVente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vente</servlet-name>
        <url-pattern>/Vente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StockMeuble</servlet-name>
        <url-pattern>/StockMeuble</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
